<form (ngSubmit)="onOrderEntryRmaLineSubmit()" [hidden]="submitted">
  <p>
    <h2>Items from the Invoice</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Expected Return Qty</th>
        <th>Original Qty</th>
        <th>Description</th>
        <th>Shipping Weight</th>
        <th>Shipping Class</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!rma_lines || rma_lines.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let rma_line of rma_lines; let index = index;">
        <td>
          <input type="text" [(ngModel)]="rma_line.expected_return_quantity" name="{{'expected_return_qty_' + index}}">
        </td>
        <td>
          <input type="text" [(ngModel)]="rma_line.original_quantity" name="{{'original_quantity' + index}}" placeholder="{{rma_line.original_quantity}}">
        </td>
        <td>
          <textarea [(ngModel)]="rma_line.description" name="{{'description_' + index}}"></textarea>
        </td>
        <td>
          {{rma_line.shipping_weight | number:'.2-2'}}
        </td>
        <td>
          {{rma_line.shipping_classification}}
        </td>
      </tr>
    </tbody>
  </table>

  <p align="right">
    <button class="btn btn-primary" type="submit">Submit</button>
  </p>
</form>
