<form (ngSubmit)="onPalletCreate(pallet)">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">

        <div class="col-lg-6 col-md-4 col-sm-2">
          <label class="control-label" for="pallet_box_number">Number of Boxes: </label>
          <input class="form-control" type="text" [(ngModel)]="pallet.pallet_number_of_boxes" name="pallet_number_of_boxes">
        </div>

        <div class="col-lg-6 col-md-4 col-sm-2">
          <label class="control-label" for="pallet_length">Pallet Length: </label>
          <input class="form-control" type="text" [(ngModel)]="pallet.pallet_length" name="pallet_length">
        </div>

        <div class="col-lg-6 col-md-4 col-sm-2">
          <label class="control-label" for="pallet_width">Pallet Width: </label>
          <input class="form-control" type="text" [(ngModel)]="pallet.pallet_width" name="pallet_width">
        </div>

        <div class="col-lg-6 col-md-4 col-sm-2">
          <label class="control-label" for="pallet_height">Pallet Height: </label>
          <input class="form-control" type="text" [(ngModel)]="pallet.pallet_height" name="pallet_height">
        </div>

        <div class="col-lg-6 col-md-4 col-sm-2">
          <label class="control-label" for="pallet_barcode_creation">Scan Barcode: </label>
          <input class="form-control" type="text" [(ngModel)]="pallet.pallet_barcode" name="pallet_barcode">
        </div>

    </div>
      <button class="btn btn-primary" type="submit">Create this Pallet</button>
    </div>
  </div>


</form>
