<h2>Pallets</h2>
<a [routerLink]="['pallet_creation']">Create a Pallet</a>
<br>
<div class="table-responsive">
  <h2>Current Pallets</h2>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Pallet Number</th>
        <th>Number of Boxes</th>
        <th>Length</th>
        <th>Width</th>
        <th>Height</th>
        <th>Shipping to</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!pallets || pallets.length === 0">
        <td colspan="5" style="text-align: center">No Items</td>
      </tr>
      <tr *ngFor="let pallet of pallets" (click)="OnPalletClick(pallet_number)">
        <td>
          {{pallet.id}}
        </td>
        <td>
          {{pallet.number_of_boxes}}
        </td>
        <td>
          {{pallet.pallet_length}}
        </td>
        <td>
          {{pallet.pallet_width}}
        </td>
        <td>
          {{pallet.pallet_height}}
        </td>
        <td>
          {{pallet.ship_to_address}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
