<div class="container-fluid">
    <div>
      <nav class="navbar navbar-default">
        <!-- normal collapsible navbar markup -->
          <a [routerLink]="['/home']">Home</a>
          <a href="http://server1/tools">Server1/Tools</a>
      </nav>
    </div>
      <!-- your page content -->
      <router-outlet></router-outlet>
</div>
