<h2>Pick your department</h2>

<div class="list-group">
  <a class="list-group-item" [routerLink]="['/oe']">Order Entry</a>
  <a class="list-group-item" [routerLink]="['/receiving']">Receiving</a>
  <a class="list-group-item" [routerLink]="['/accounting']">Accounting</a>
  <a class="list-group-item" [routerLink]="['/shipping']">Shipping</a>
</div>
